@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,400;1,500&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,200;1,300&family=Roboto:wght@100;300;500;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&family=Viga&display=swap");

.nav {
  position: fixed;
  background-color: #fff;
  height: 3.6rem;
  width: 100%;
  border-bottom: 0.5px rgb(212, 212, 212) solid;
  flex-direction: row;
  overflow: visible;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_div {
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13rem;
  margin-left: -2rem;
}
.logo {
  height: 100%;
  width: 100%;
}
.search_div {
  width: 17rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.input_search_div {
  height: 3.2rem;
  width: 17rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #ececec;
}
.input_search_button_div {
  height: 100%;
  width: 2rem;
  margin-left: 0.5rem;
}
.search_input::placeholder {
  color: #8e8e8e;
  font-size: 1rem;
}
.search_input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 0.9rem;
  font-family: "Nunito";
  font-weight: lighter;
  border: none;
  outline: none;
  margin-right: 1rem;
}

.input_search_button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input_search_button:active {
  height: 80%;
  width: 80%;
  margin: 10% 0 0 10%;
}
.input_search_div {
  height: 2.2rem;
}
.menu_icon_main_div {
  /* background-color: rgb(115, 224, 64); */
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.25rem;
  margin-left: 6rem;
}
.menu_icon_button {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  outline: none;
  /* background-color: tomato; */
  cursor: pointer;
  background-color: transparent;
}
.porofile_icon_svg {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}
.porofile_icon_svg_clicked {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  outline: black 1px solid;
  outline-offset: 2px;
}
.left_side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.likes {
  position: absolute;
  top: 3.9rem;
  left: 64.5vw;
  transform: translate(-50%);
  height: 2.5rem;
  width: 30rem;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  box-shadow: 1px 1px 10px #31313110, -1px -1px 10px #31313110;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty_txt {
  all: unset;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: #525252;
}
.likes_array {
  position: absolute;
  top: -22px;
  left: 83%;
  height: 0;
  width: 0;
  border-top: 11px solid transparent;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid rgb(255, 0, 0);
}
.options {
  position: fixed;
  right: 9%;
  z-index: 100;
  background-color: #ffffff;
  height: 12.5rem;
  width: 14rem;
  margin: 0.75rem 0 0 -50%;
  transform: translate(-70%);
  box-shadow: 0 0 10px #cfcfcf;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  animation: top-wipe 0.5s ease-out;
}
@keyframes top-wipe {
  from {
    opacity: 0;
    margin-top: -2rem;
  }
  to {
    opacity: 1;
    margin-top: 0.75rem;
  }
}
.options_container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.likes_array_porofile {
  position: absolute;
  top: -22px;
  left: 78%;
  height: 0;
  width: 0;
  border-top: 11px solid transparent;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #ffffff;
}
.porofile_option {
  width: 100%;
  height: 2.45rem;
  padding-left: 6%;
  display: flex;
  align-items: center;
}
.porofile_option_picture {
  height: 1rem;
}
.porofile_option_heading {
  all: unset;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  margin: -0.2rem 0 0 0.8rem;
}
.vertical_line {
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
}
.logout_button {
  all: unset;
  height: 2.6rem;
  width: 100%;
  text-align: start;
  padding-left: 6%;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 0.7rem;
}
.porofile_option:hover,
.logout_button:hover {
  background-color: #eeeeee;
}
.porofile_option:active,
.logout_button:active {
  background-color: #cccccc;
}
@media screen and (max-width: 1300px) {
  .likes {
    left: 68vw;
  }
}
@media screen and (max-width: 1000px) {
  .search_div {
    width: 20vw;
    margin-right: 6vw;
  }
  .menu_icon_main_div {
    margin-left: 0;
    margin-right: 5vw;
  }
  .logo_div {
    margin-right: 15vw;
    margin-left: 2vw;
  }
  .input_search_div {
    width: 16rem;
  }
  .container {
    justify-content: space-between;
  }
  .likes {
    left: 2vw;
    transform: none;
    height: calc(100vh - 4rem);
    width: 96vw;
  }
  .likes_array {
    border-bottom: 11px solid transparent;
  }
}
@media screen and (max-width: 860px) {
  .search_div {
    width: 18vw;
    margin-right: 3vw;
  }
  .input_search_div {
    width: 16rem;
  }
}
@media screen and (max-width: 680px) {
  .search_div {
    display: none;
  }
  .menu_icon_main_div {
    margin-left: 0;
    margin-right: 8vw;
  }
}
