.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
}
.main_section {
  width: 60rem;
  /* background-color: aqua; */
}
.user_data {
  height: 15rem;
  display: flex;
  justify-content: space-between;
}
.porofile_section {
  width: 20rem;
  display: flex;
  justify-content: center;
}
.porofile {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  outline: 2px solid #dadada;
  outline-offset: 5px;
  margin: 2px 0 0 -0.25rem;
}
.user_data_section {
  width: 39rem;
}
.user_settings_and_username {
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.username {
  color: #262626;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  width: 15rem;
  overflow: hidden;
}
.settings_section {
  display: flex;
  align-items: center;
  height: 100%;
}
.edit_porofile {
  all: unset;
  height: 1.8rem;
  width: 6rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid #bdbdbd;
  background-color: #fafafa;
  font-size: 0.92rem;
  line-height: 0.75;
  cursor: pointer;
}
.edit_porofile:active {
  border: 1px solid #cecece;
  color: #cecece;
}
.settings_svg {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 0.75rem;
  cursor: pointer;
}
.posts_following_followers_count {
  height: 3rem;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  overflow: hidden;
}
.count_heading {
  color: #262626;
  font-weight: 400;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.count_heading_num {
  font-weight: 500;
}
.fullname_div {
  margin-top: 0.75rem;
  height: fit-content;
  color: #262626;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.bio_container {
  margin-top: -0.5rem;
  color: #262626;
  font-size: 0.95rem;
  max-height: 7.5rem;
  overflow: hidden;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-overflow: ellipsis;
}
