.container {
  width: 100vw;
  min-height: 150%;
  height: fit-content;
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.main_section {
  width: 60rem;
}
.user_data {
  height: 15rem;
  display: flex;
  justify-content: space-between;
}
.porofile_section {
  width: 20rem;
  display: flex;
  justify-content: center;
}
.porofile {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  outline: 2px solid #dadada;
  outline-offset: 5px;
  margin: 2px 0 0 -0.25rem;
}
.user_data_section {
  width: 39rem;
}
.user_settings_and_username {
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.username {
  color: #262626;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  width: 15rem;
  margin-right: 1rem;
  overflow: hidden;
}
.settings_section {
  display: flex;
  align-items: center;
  height: 100%;
}
.edit_porofile {
  all: unset;
  height: 1.8rem;
  width: 6rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid #bdbdbd;
  background-color: #fafafa;
  font-size: 0.92rem;
  line-height: 0.75;
  cursor: pointer;
}
.edit_porofile:active {
  border: 1px solid #cecece;
  color: #cecece;
}
.settings_svg {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 0.75rem;
  cursor: pointer;
}
.posts_following_followers_count {
  height: 3rem;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  overflow: hidden;
}
.count_heading {
  color: #262626;
  font-weight: 400;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.count_heading_num {
  font-weight: 500;
}
.fullname_div {
  margin-top: 0.75rem;
  height: fit-content;
  color: #262626;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.bio_container {
  margin-top: -0.5rem;
  color: #262626;
  font-size: 0.95rem;
  max-height: 7.5rem;
  overflow: hidden;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-overflow: ellipsis;
}
.menu {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  border-top: 1px solid #cecece;
}
.menu_items {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* background-color: aquamarine; */
  height: calc(3.5rem + 1px);
  width: 48%;
}
.menu_item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 3.5rem;
  border-top: 2px solid transparent;
  cursor: pointer;
}
.menu_item_clicked {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 3.5rem;
  border-top: 1px solid #3d3d3d;
  cursor: pointer;
}
.meun_item_icon {
  margin-right: 0.4rem;
  width: 1rem;
}
.meun_item_icon_clicked {
  margin-right: 0.4rem;
  width: 1rem;
}
.menu_header {
  color: #6b6b6b;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.posts {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.post {
  width: 19.25rem;
  height: 19.25rem;
}
.post_image {
  width: 100%;
  height: 100%;
}
.footer {
  width: fit-content;
  height: fit-content;
}
.links {
  margin-top: 1.7rem;
  width: 42rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}
.link {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  font-size: 0.75rem;
  margin-right: 0.75rem;
}
.copy_right_and_language {
  width: fit-content;
  height: 1.25rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translate(-50%);
}
.language_select {
  background-color: transparent;
  border: none;
  width: 5rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  font-size: 0.7rem;
  outline: none;
  cursor: pointer;
}
.copy_right_part {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  font-size: 0.75rem;
  margin-left: 1.5rem;
}
@media screen and (max-width: 700px) {
  .container {
    width: 100vw;
    top: 20vw;
    height: fit-content;
  }
  .main_section {
    width: 100%;
  }
  .user_data {
    height: 18rem;
    display: flex;
  }
  .porofile_section {
    height: 20vw;
    width: 30vw;
  }
  .porofile {
    width: 18vw;
    height: 18vw;
    border-radius: 10rem;
    outline: 2px solid #dadada;
    outline-offset: 5px;
    margin: 2px 0 0 -0.25rem;
  }
  .user_settings_and_username {
    flex-direction: column;
    width: 70vw;
    height: fit-content;
    align-items: flex-start;
  }
  .username {
    width: 65vw;
    font-size: 1.5rem;
    margin-right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.25rem;
  }
  .settings_svg {
    position: absolute;
    right: 1.75%;
    top: -0.0001rem;
  }
  .edit_porofile {
    width: 70vw;
  }
  .fullname_div {
    position: absolute;
    top: 6rem;
    left: -26vw;
    transform: translate(30vw);
    font-size: 0.9rem;
  }
  .bio_container {
    position: absolute;
    top: 7.75rem;
    left: -26vw;
    transform: translate(30vw);
    font-size: 0.9rem;
    margin-top: -0.5;
    width: 90vw;
    max-height: 7rem;
  }
  .posts_following_followers_count {
    position: absolute;
    left: 0;
    top: 15rem;
    bottom: 0;
    width: 100vw;
    column-gap: 0;
    justify-content: space-around;
  }
  .user_data_section {
    width: 80vw;
  }
  .menu_items {
    height: calc(3.3rem + 1px);
    width: 100%;
  }
  .menu_header {
    display: none;
  }
  .menu_item_clicked {
    height: 3.3rem;
    border-top: 0;
    cursor: pointer;
  }
  .meun_item_icon {
    margin-right: 0;
    width: 4rem;
    height: 1.5rem;
  }
  .meun_item_icon_clicked {
    margin-right: 0;
    width: 4rem;
    height: 1.5rem;
    color: #0095f6;
  }
  .posts {
    row-gap: 0.25rem;
    column-gap: 0.25rem;
  }
  .post {
    width: 32.65vw;
    height: 32.65vw;
  }
  .footer {
    width: 100vw;
  }
  .links {
    width: 100%;
  }
  .copy_right_and_language {
    width: 62.5%;
  }
}
