.Slider {
  height: 7rem;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
}
.story_container {
  height: 7rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.125rem;
}
.porofile_container {
  background: linear-gradient(45deg, #f37b12, #c62d90);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  cursor: pointer;
}
.porofile_container_seen {
  background-color: #e2e2e2;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  cursor: pointer;
}
.porofile_div {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 15rem;
  overflow: hidden;
}
.porofile {
  height: 100%;
  border-radius: 15rem;
  margin: 0 50% 0 50%;
}
.username {
  font-size: 0.75rem;
  line-height: 1rem;
  width: 6.5rem;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
.username_verified {
  font-size: 0.75rem;
  line-height: 1rem;
  width: 6.5rem;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
.username_verified::after {
  content: "✓";
  position: relative;
  left: 0.25rem;
  background-color: #0095f6;
  height: 0.7rem;
  width: 0.7rem;
  font-size: 0.5rem;
  line-height: 1.4;
  border-radius: 10rem;
  display: inline-block;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .Slider {
    height: 7rem;
    width: 100vw;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
  }
}
