@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,400;1,500&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,200;1,300&family=Roboto:wght@100;300;500;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&family=Viga&display=swap");
.container {
  height: 7rem;
  width: 100%;
  margin-bottom: 1.8rem;
  border: 1px solid rgba(219, 219, 219, 1);
  background-color: #ffffff;
  overflow: hidden;
}
.mySwiperStory {
  height: 7rem;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
}
.story_div {
  height: 7rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.125rem;
}
.img_main {
  background: linear-gradient(45deg, #f37b12, #c62d90);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  cursor: pointer;
}
.img_main_seen {
  background-color: #e2e2e2;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  cursor: pointer;
}
.story_img {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 15rem;
  overflow: hidden;
}
.porofile {
  height: 100%;
  border-radius: 15rem;
  margin: 0 50% 0 50%;
}
.username {
  font-size: 0.75rem;
  line-height: 1rem;
  width: 3.75rem;
  text-align: center;
  overflow: hidden;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .container {
    width: 100vw;
    border: none;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
  }
  .mySwiperStory {
    height: 7rem;
    width: 100vw;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
  }
}
