.container {
  width: 60rem;
  height: 100%;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.posts_and_stories {
  width: 39rem;
  height: 30rem;
}
.follow_suggestion {
  width: 21rem;
  height: 100vh;
  padding: 0.9rem 0.25rem 0 1.25rem;
  position: fixed;
  top: 6rem;
  right: calc(50% - 30.5rem);
}
.stories_container {
  height: 7rem;
  width: 100%;
  margin-bottom: 1.8rem;
  border: 1px solid rgba(219, 219, 219, 1);
  background-color: #ffffff;
  overflow: hidden;
}
.posts {
  height: 190vh;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 40rem;
  }
  .follow_suggestion {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 38rem;
  }
}
@media screen and (max-width: 660px) {
  .container {
    width: 100vw;
    top: 3.5rem;
  }
  .stories_container {
    width: 100vw;
    border: none;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
  }
  .posts {
    width: 100vw;
  }
}
