.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form_section {
  /* background-color: blueviolet; */
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_form {
  /* background-color: aqua; */
  height: fit-content;
  width: 22rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #c9c9c9;
  background-color: #fff;
}
.instagram_logo_div {
  height: 5rem;
  width: 100%;
  margin: 1.25rem 0 2rem 0;
  /* margin: 2.5rem 0 0 0; */
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.instargam_logo {
  width: 12.5rem;
  /* margin-top: -2rem; */
}
.description {
  margin: -2rem 0 1rem 0;
  width: 100%;
  padding: 0 2rem 0 2rem;
  color: #8e8e8e;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
.inputs {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  all: unset;
  border: 1px solid #c9c9c9;
  background-color: #fcfcfc;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  padding: 0 0 0 0.5rem;
  width: 18rem;
  height: 2rem;
  color: #262626;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}

.input::placeholder,
.input_password::placeholder {
  color: #7e7e7e;
}
.show_hide_btn {
  position: relative;
  margin-left: -3rem;
  width: 0.5rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #262626;
  cursor: pointer;
  user-select: none;
  text-align: center;
}
.login_in_btn {
  all: unset;
  background-color: #fcfcfc;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  width: 18.7rem;
  height: 1.85rem;
  color: #ffffff;
  border-radius: 0.25rem;
  text-align: center;
  margin-left: 1.6rem;
  background-color: #0095f6;
  cursor: pointer;
}
.login_in_btn_disabled {
  all: unset;
  background-color: #fcfcfc;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  width: 18.7rem;
  height: 1.85rem;
  color: #ffffff;
  border-radius: 0.25rem;
  text-align: center;
  margin-left: 1.6rem;
  background-color: #0094f670;
}
.login_in_btn:active,
.show_hide_btn:active {
  opacity: 0.6;
}
.terms_description {
  margin: 1rem 0 2rem 0;
  width: 100%;
  padding: 0 2rem 0 2rem;
  color: #8e8e8e;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
}
.erorr_txt {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ed4956;
  padding: 0 2.6rem 0 2.6rem;
  margin: 1rem 0 0 0;
  font-size: 0.85rem;
}
.sign_up_section {
  width: 22rem;
  height: 4rem;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
}
.sign_up_txt {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #262626;
  font-size: 0.9rem;
}
.Sign_up_link {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #0095f6;
  font-size: 0.9rem;
  font-weight: 500;
  margin: -0.125rem 0 0 0.25rem;
  cursor: pointer;
}
.get_apps {
  width: 22rem;
  height: 6rem;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.get_apps_txt {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #262626;
  font-size: 0.9rem;
  margin-top: 0.75rem;
}
.stores_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17.5rem;
}
.store_box {
  width: 8.5rem;
  height: 2.46rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.links {
  margin-top: 1.7rem;
  width: 42rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.5rem;
}
.link {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  font-size: 0.75rem;
  margin-right: 0.75rem;
}
.copy_right_and_language {
  width: fit-content;
  height: 1.25rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.language_select {
  background-color: transparent;
  border: none;
  width: 5rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
}
.copy_right_part {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  font-size: 0.75rem;
  margin-left: 1.5rem;
}
@media screen and (max-width: 870px) {
  .links {
    width: 90vw;
  }
}
